service routing protocols model multi-agen
{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
   ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4']}}/{{ underlay[inventory_hostname]['interfaces'][item]['mask']}}
{% if 'Ethernet' in item %}
   no switchport
   mtu {{ underlay['global']['MTU'] }}
{% endif %}
{% endfor %}
!
ip prefix-list LOOPBACK
  seq 10 permit {{ underlay['global']['DC1']['lo0'] }} eq 32
  seq 20 permit {{ underlay['global']['DC1']['lo1'] }} eq 32
  seq 30 permit {{ underlay['global']['DC2']['lo0'] }} eq 32
  seq 40 permit {{ underlay['global']['DC2']['lo1'] }} eq 32
  seq 50 permit {{ underlay['global']['DCI']['lo0'] }} eq 32
!
route-map LOOPBACK permit 10
  match ip address prefix-list LOOPBACK
!
peer-filter LEAF-AS-RANGE
   10 match as-range 65000-65535 result accept
!
router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
  router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4'] }}/{{ underlay[inventory_hostname]['interfaces']['loopback0']['mask'] }}
  no bgp default ipv4-unicast
  maximum-paths 3
  distance bgp 20 200 200
  bgp listen range 192.168.0.0/16 peer-group LEAF_Underlay peer-filter  LEAF-AS-RANGE
  neighbor LEAF_Underlay peer group
  neighbor LEAF_Underlay send-community
  neighbor LEAF_Underlay maximum-routes 12000
{% for peer in underlay[inventory_hostname]['BGP']['borderleaf_peers'] %}
  neighbor {{ peer }} peer group LEAF_Underlay
{% endfor %}
  redistribute connected route-map LOOPBACK
  address-family ipv4
    neighbor LEAF_Underlay activate
    redistribute connected route-map LOOPBACK