{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
   ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4']}}/{{ underlay[inventory_hostname]['interfaces'][item]['mask']}}
{% if 'Ethernet' in item %}
   no switchport
   mtu {{ underlay['global']['MTU'] }}
{% endif %}
{% endfor %}
!
ip prefix-list LOOPBACK
  seq 10 permit {{ underlay['global']['DC2']['lo0'] }} eq 32
  seq 20 permit {{ underlay['global']['DC2']['lo1'] }} eq 32
  seq 30 permit {{ underlay['global']['DC2']['lo0'] }} eq 32
  seq 40 permit {{ underlay['global']['DC2']['lo1'] }} eq 32
!
route-map LOOPBACK permit 10
  match ip address prefix-list LOOPBACK
!
router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
  router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4'] }}/{{ underlay[inventory_hostname]['interfaces']['loopback0']['mask'] }}
  no bgp default ipv4-unicast
  maximum-paths 3
  distance bgp 20 200 200
  neighbor SPINE_Underlay peer group
  neighbor SPINE_Underlay remote-as {{ underlay['global']['DC2']['spine_ASN'] }}
  neighbor SPINE_Underlay send-community
  neighbor SPINE_Underlay maximum-routes 12000
  neighbor LEAF_Peer peer group
  neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['BGP']['ASN'] }}
  neighbor LEAF_Peer next-hop-self
  neighbor LEAF_Peer maximum-routes 12000
{% for spine_peer in underlay[inventory_hostname]['BGP']['spine-peers'] %}
  neighbor {{ spine_peer }} peer group SPINE_Underlay
{% endfor %}
{% if underlay[inventory_hostname]['MLAG'] == 'Odd' %}
  neighbor 192.168.255.1
{% endif %}
{% if underlay[inventory_hostname]['MLAG'] == 'Even' %}
  neighbor 192.168.255.0
{% endif %}
  redistribute connected route-map LOOPBACK
  !
  address-family ipv4
    neighbor SPINE_Underlay activate
    neighbor LEAF_Peer activate
    redistribute connected route-map LOOPBACK
